<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.resthome.mapper.BedMapper" >
	<resultMap id="BaseResultMap" type="com.resthome.pojo.Bed" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="style" property="style" jdbcType="VARCHAR" />
	    <result column="buildnum" property="buildnum" jdbcType="VARCHAR" />
	    <result column="floor" property="floor" jdbcType="VARCHAR" />
	    <result column="roomnum" property="roomnum" jdbcType="VARCHAR" />
	    <result column="state" property="state" jdbcType="INTEGER" />
	    <result column="cid" property="cid" jdbcType="INTEGER" />
	    <result column="oid" property="oid" jdbcType="INTEGER" />
   </resultMap>
	<select id="getBedlistBy" resultType="com.resthome.pojo.Search" parameterType="int">
	SELECT
	b.id,
	b.`name`,
	b.style,
	b.buildnum,
	b.floor,
	b.roomnum,
	b.state,
	o.`name` oldman_name,
	o.id oid
FROM
	bed b
LEFT JOIN oldman o ON b.oid = o.id
WHERE cid = #{cid}
	</select>

</mapper>